html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video, main, article, aside {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
html.active,
body.active {
    height: 100%;
    overflow-y: hidden;
}
a {
    color: #000;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 3em;
}
main {
    margin-top: 120px;
    width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
}
.wrap {
    width: 1250px;
}

@media (max-width: 1250px) {
    h1 {
        font-size: 9vw;
    }
    h2 {
        font-size: 6vw;
    }
    .wrap {
        width: 100%;
        padding: 0 10px;
    }
    main {
        width: 100%;
        padding: 0 10px;
    }
}